<p>Hey {{ first_name }},</p>
<p>Please click below to confirm your email</p>
<p>
  Hey Mr./Ms. {{ last_name }} with email: {{ email }}
    {{ avatar }}
</p>
<p>If you did not request this email you can safely ignore it.</p>